/* Noto Serif Font Here */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Inter Font */


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



*{
    margin: 0 auto;
    background: rgb(245, 248, 255);
    max-width: 1440px;
}

body{
    max-width: 1140px;
}

/* Shared CSS Here */




/* Header CSS Start Here */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}
ul{
    list-style: none;
    display: flex;
    gap: 48px;
    align-items: center;
    justify-content: center;
}

ul li a{
    text-decoration: none;
    font-weight: 700;
    color: rgb(137, 135, 161);
}

ul li a:hover{
    color: rgb(37, 36, 50);
}

.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 461px;
    margin-top: 114px;
    margin-bottom: 120px;
}

.hero-title{
    font-size: 4rem;
    font-weight: 700;
    line-height: 5.5rem;
}
.fresh-flowers{
    color: rgb(233, 90, 8);
}

.hero-description{
    font-size: 1.3rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

img{
    border: 2px dashed rgb(137, 135, 161);
}