/* Noto Serif Font Here */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Inter Font */


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



*{
    margin: 0 auto;
    background: rgb(245, 248, 255);
    max-width: 1440px;
    box-sizing: border-box;
}

body{
    max-width: 1140px;
}

/* Shared CSS Here */

button{
    
    background: rgb(233, 90, 8);
    padding: 20px 80px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    
}


/* Header CSS Start Here */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}
.nav-item{
    list-style: none;
    display: flex;
    gap: 48px;
    align-items: center;
    justify-content: center;
}

.nav-item li a{
    text-decoration: none;
    font-weight: 700;
    color: rgb(137, 135, 161);
}

.nav-item li a:hover{
    color: rgb(37, 36, 50);
}

.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 461px;
    margin-top: 114px;
    margin-bottom: 120px;
}

.hero-title{
    font-size: 4rem;
    font-weight: 700;
    line-height: 5.5rem;
}
.fresh{
    color: rgb(233, 90, 8);
}
.flowers{
    color: rgb(233, 90, 8);
}

.hero-description{
    font-size: 1.3rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
/* Our Plants CSS Start Here */

.our-plants{
    margin-bottom: 50px;
}


.our-plants-content{
    text-align: center;
    margin-bottom: 49px;
}

.our-plants-title{
    font-size: 3.1rem;
    font-weight: 700;
}

.our{
    color: rgb(233, 90, 8);
}

.our-plants-desc{
    font-size: 1.3rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    max-width: 888px;
}

.our-plants-card{
    display: flex;
    gap: 20px; 
}

.card-title{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 25px;
}
.card-price{
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

/* Trusted CSS Start Here */

.trusted-img{
    max-width: 100%;
    height: 100%;
    
}

.trusted{
    display: flex;
    gap: 60px;
    height: 500px;
    margin-top: 210px;
    max-width: 1140;
}

.truted-title{
    font-size: 3.1rem;
    font-weight: 700;
    line-height: 68px;
    margin-bottom: 20px;
}
.trusted-desc{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    max-width: 500px;
}
.trusted-desc li{
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: rgba(0, 0, 0, 0.5);
}




















/* Responsive Media Query CSS Here */

@media screen and (max-width:776px) {

    *{
        margin-left: 14px;
        margin-right: 14px;
    }

    /* Header Css Here */

    .navbar ul li{
        display: none;
    }

    .hero-section{
        flex-direction: column-reverse;
    }

    .hero-title{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 5.5rem;
}

    .hero-img{
        max-width: 100%;
    }
    .hero-description{
        font-size: 14px;
    }

    .hero-content{
        margin-left: 16px;
        margin-right: 16px;
    }


    /* Our Plants Responsive Here */

    .our-plants-title{
        font-size: ;
    }

    .our-plants-card{
        flex-direction: 50% 50%;
        flex-wrap: wrap;
    }


    
}